#Ignore the large dataset

allcars.csv

features124.xlsx

#Ignore linux .folder

*.directory


#Ignore ipython hidden files

*.ipynb_checkpoints

#Avoid charge large datasets to Bitbucket


*.csv
*.xlsx
*.txt

# Avoid charge Plots in GitHub

*.png
*.svg
*.html
